.ca-color-variant-display {
  font-size: $font-size-xxs;
  color: $c-text-secondary;
  display: flex;
  column-gap: rem-calc(3);
  align-items: center;

  &__item {
    background-color: var(--variant-color);
    border-radius: 50%;
    width: rem-calc(8);
    aspect-ratio: 1;
  }
  
  &__item-label {
    @include visually-hidden;
  }
}