.ca-category-display {
  display: flex;
  gap: $px8;
  overflow: auto;
  @include hideScrollbar;

  @include bp(laptop) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__button.ca-button {
    @include button-secondary;
    padding: $px10 rem-calc(13px);
  }
}
