.ca-footer-navigation-accordion {
  &__list {
    border-top: $border-medium;
    padding: rem-calc(4px) rem-calc(24px);
  }

  &__list--contact {
    padding-top: $px10;
  }

  &__link {
    text-decoration: underline;
    display: block;
    margin: rem-calc(8px) 0;
  }

  .ca-icon-and-text {
    --text-and-icon-spacing: #{$px12};
  }

  .ca-icon-and-text__text {
    margin-right: auto;
  }
}
