.ca-list-pagination {
  --progress: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(#{rem-calc(30px)}, 10vw, #{rem-calc(134px)});
  margin-bottom: rem-calc(60px);
  
  &__button {
    background-color: transparent;
    border: $border-dark;
    padding: rem-calc(17px) rem-calc(34px);
    overflow-anchor: none;
  }
  
  &__showing {
    font-size: rem-calc(10px);
    letter-spacing: $letter-spacing-3;
    margin-bottom: rem-calc(14px);
  }

  &__progress-bar {
    background-color: #cfcdcd;
    border-radius: 50vw;
    width: 8.9375rem;
    height: 4px;
    margin-bottom: rem-calc(14px);
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      background-color: $c-semidark-gray;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      transform: scaleX(var(--progress));
      transform-origin: 0 0;
      transition: transform 200ms ease;
      contain: paint;
      z-index: 1;
    }
  }
}