.ca-mini-cart {
  display: block;
  outline: none;
  color: var(--header-text, #{$c-cart-color});

  @include bp(laptop) {
    @include flex-valign;
  }

  &__wrap {
    position: relative;
  }

  &__value {
    font-weight: $font-weight-bold;
    margin-left: $px12;
  }

  &__qty {
    font-size: rem-calc(10);
  }
}
