.ca-product-accordion {
  .ca-accordion-item__toggle {
    font-weight: $font-weight-normal;
    font-size: $font-size-s;
    padding: rem-calc(20) 0;
  }

  @include bp(laptop) {
    .ca-accordion-item__toggle {
      padding: rem-calc(25) rem-calc(10);
    }
  }

  &__item {
    --icon-size: #{rem-calc(12)};
    border-bottom: $border-medium;
  }

  &__item-content {
    padding: 0 0 rem-calc(20);
    font-size: $font-size-xs;
    line-height: 1.7;

    @include bp(laptop) {
      padding: 0 rem-calc(10) rem-calc(30);
    }
  }
}
