@ralph:registry=https://carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/

always-auth=true

//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/:_password=N29lcWpjczM1c3ZhYWNyN280djJqc3l0MzN4a2ViZnRsdHBxcGd6aWhpaml0d2pudGlvYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/:email=not-used@example.com