.ca-brand-and-name {
  font-size: $font-size-xs;
  letter-spacing: $letter-spacing-3;
  display: flex;
  flex-direction: column;

  &__name {
    margin-bottom: rem-calc(2px);
  }

  &__brand {
    text-transform: uppercase;

    .ca-product-card & {
      padding-right: rem-calc(45);
    }
  }
}
