.ca-badge {
  background-color: var(--badge-bg, #{$c-lightest-gray});
  font-size: clamp(#{rem-calc(8px)}, 2vw, #{rem-calc(11px)});
  letter-spacing: $letter-spacing-3;
  line-height: 1;
  text-transform: uppercase;
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: rem-calc(4px);
  padding: var(--badge-padding, #{rem-calc(4px)} #{rem-calc(10px)});

  &--new {
    --badge-padding: 0;
  }

  &--sustainable {
    @include icon('badge-leaf', 6px, 9px);
    --badge-bg: #{$c-badge-pale-green};
  }

  &--sizes {
    &::before {
      content: '+';
      display: inline-block;
    }
  }

  &--bestseller {
    @include icon('badge-star', 1.09em);
  }

  &--collab {
    --badge-bg: #{$c-badge-beige};
  }
}
