.ca-campaigns {
  @include campaignListFlex;

  &__item {
    @include price-type-badge;
    flex-shrink: 0;
    padding: rem-calc(6) rem-calc(6) rem-calc(4);
  }

  &--box {
    background-color: $c-lightest-gray;
    padding: $px12 $px16;
  }

  &.ca-cart__campaigns {
    display: block;

    .ca-campaigns__list {
      @include campaignListFlex;
    }
  }
}
