.ca-campaigns {
  @include campaignListFlex;

  &__item {
    @include campaignBadge;
    flex-shrink: 0;
  }

  &--box {
    background-color: $c-lightest-gray;
    padding: $px12 $px16;
  }

  &.ca-cart__campaigns {
    display: grid;

    .ca-campaigns__list {
      @include campaignListFlex;
    }
  }
}
