.ca-price {
  &__selling {
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
  }

  &__regular {
    font-size: $font-size-xs;
    text-decoration: line-through;
    margin-left: $px4;
  }
  
  &__ex-vat {
    margin-left: $px4;
    color: $c-text-secondary;
  }
  
  &--sale & {
    &__selling {
      color: $c-sale;
    }
  }
}