$button-font-size: $font-size-m !default;
$button-font-size-s: $font-size-s !default;
$button-font-size-l: $font-size-l !default;
$button-font-weight: $font-weight-normal !default;

@mixin button {
  display: inline-block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  text-transform: uppercase;
  padding: 0.65em 2em;
  white-space: nowrap;
  position: relative;
  transition: background-color 150ms ease;
  cursor: pointer;
}

@mixin button-primary {
  background-color: $c-button-primary-bg;
  color: $c-button-primary-txt;
  border: $button-primary-border;

  &:hover {
    background-color: $c-button-primary-bg-hover;
  }
}

@mixin button-secondary {
  background-color: $c-button-secondary-bg;
  color: $c-button-secondary-txt;
  border: $button-secondary-border;

  &:hover {
    background-color: $c-button-secondary-bg-hover;
  }
}

@mixin button-s {
  padding: 0.6em 0.9em;
  font-size: $button-font-size-s;
}

@mixin button-l {
  font-size: $button-font-size-l;
  padding: 0.65em 4.2em;

  @include bp(tablet) {
    padding: 0.65em 5em;
  }
}

@mixin button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

@mixin button-loading {
  color: transparent;
}

@mixin button-full-width {
  width: 100%;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-align: center;
}

@mixin button-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
