@use 'sass:color';

// Convert Hex to RGBa
@function hex-to-rgba($color, $opacity) {
  $r: color.red($color);
  $g: color.green($color);
  $b: color.blue($color);
  $rgba: rgba($r, $g, $b, $opacity);

  @return $rgba;
}
