@mixin productImageOverlay {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      transparent 27%,
      rgba(9, 9, 9, 0) 31%,
      rgba(170, 170, 170, 0.1) 100%
    );
    background: radial-gradient(
      ellipse at center,
      transparent 27%,
      rgba(9, 9, 9, 0) 31%,
      rgba(170, 170, 170, 0.1) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
}

@mixin iconCircle {
  @include flex-calign;
  background-color: $c-lightest-gray;
  width: 34px;
  aspect-ratio: 1;
  transition: all 200ms ease;
  border-radius: 50vw;
  font-size: $font-size-m;

  &:focus-visible {
    box-shadow: 0 0 0 $focus-border;
  }
}

@mixin scrollbarStyle($color: $c-pink, $hover: $c-darkest-gray) {
  scrollbar-color: $color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: $px16 * 0.35;
    height: $px16 * 0.35;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $hover;
  }
}

@mixin hideScrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

@mixin icon(
  $icon-name, 
  $width, 
  $height: $width, 
  $element: 'before'
) {
  &::#{$element} {
    content: '';
    background-image: url('./assets/icons/#{$icon-name}.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: $width;
    height: $height;
    flex-shrink: 0;
  }
}

@mixin accordionIconBeforeTitle($icon-name, $width: 16px, $height: 19px) {
  @include icon($icon-name, $width, $height, 'after');
}

@mixin campaignBadge {
  background-color: $c-campaign;
  color: $c-lightest-gray;
  font-size: rem-calc(8px);
  letter-spacing: $letter-spacing-3;
  line-height: 1;
  padding: 0.25rem 0.25rem 0.2rem;

  @include bp(tablet) {
    font-size: rem-calc(11px);
  }
}

@mixin campaignListFlex {
  display: flex;
  grid-gap: 0.25em;
  gap: 0.25em;
  flex-wrap: wrap;
  align-self: start;
}

@mixin panelTopLevelStyle {
  font-size: $font-size-s;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-3;
  text-transform: uppercase;
  outline: none;
  width: 100%;
  display: block;
  padding: $px20 $px16;
  border-bottom: $border-light;
}

@mixin menu-link-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: '';
    background-image: url('./assets/icons/menu-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: rem-calc(15);
    height: rem-calc(15);
  }
}