@mixin productImageOverlay {
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      transparent 27%,
      rgba(9, 9, 9, 0) 31%,
      rgba(170, 170, 170, 0.1) 100%
    );
    background: radial-gradient(
      ellipse at center,
      transparent 27%,
      rgba(9, 9, 9, 0) 31%,
      rgba(170, 170, 170, 0.1) 100%
    );
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
}

@mixin iconCircle {
  @include flex-calign;
  background-color: $c-white;
  width: 36px;
  height: 36px;
  transition: all 200ms ease;
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border: $border-light;
  font-size: $font-size-m;

  &:focus-visible {
    box-shadow: 0 0 0 $focus-border;
  }
}

@mixin scrollbarStyle($color: $c-medium-gray, $hover: $c-darkest-gray) {
  padding-block: 0.3em;
  scrollbar-color: $color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: $px16 * 0.35;
    height: $px16 * 0.35;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $hover;
  }
}

@mixin accordionIconBeforeTitle($icon-name, $width, $height) {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: $px12;

  .ca-icon {
    order: 2;
  }

  &::before {
    content: '';
    background-image: url('./assets/icons/#{$icon-name}.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: $width;
    height: $height;
  }
}
