@mixin ellipsis {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

@mixin panelSecondLevelText {
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  letter-spacing: $letter-spacing-3;
}
