.ca-klarna-error-page {
  max-width: $checkout-width;
  margin: 0 auto;
  padding-bottom: $px32;

  &__section.ca-checkout-section {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-size: $font-size-xl;
  }

  &__icon {
    color: $c-error;
    margin-right: $px12;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: $px32;
  }

  &__button {
    margin-top: $px24;
  }
}
