.ca-product-page {
  &__section {
    margin-bottom: $px20;

    @include bp(laptop) {
      display: flex;
      align-items: flex-start;
      margin-bottom: $px56;
    }

    &-review {
      display: flex;
      flex-direction: column-reverse;

      @include bp(laptop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: rem-calc(40px);
      }
    }
  }

  &__main {
    position: relative;
    max-width: rem-calc(422);
    margin: rem-calc(18) auto 0;

    @include bp(laptop) {
      position: sticky;
      top: calc(#{$header-height-computer} + #{rem-calc(10)});
      width: rem-calc(422);
      margin: 0 0 0 rem-calc(120);
      padding: $px16 0 0;
      transition: transform 400ms ease;
    }

    &--header-scrolled {
      @include bp(laptop) {
        transform: translateY(-#{$top-bar-height-computer});
      }
    }

    &--header-hidden {
      @include bp(laptop) {
        transform: translateY(-#{$header-height-computer});
      }
    }
  }

  &__gallery-wrap {
    position: relative;
    @include bp(laptop) {
      width: calc(50% + #{$default-site-width-spacing-laptop});
      margin-left: -#{$default-site-width-spacing-laptop};
    }
  }

  &__gallery.ca-product-gallery {
    position: relative;
  }

  &__skeleton-main-slide {
    @include bp(tablet-down) {
      width: 69.5%;
      margin: 0 auto;
    }
  }

  &__icon-wrap {
    position: absolute;
    bottom: rem-calc(24);
    right: rem-calc(0);
    display: flex;
    flex-direction: column;
    row-gap: rem-calc(13);
    @include bp(laptop) {
      bottom: auto;
      right: rem-calc(15);
      top: rem-calc(15);
    }
  }

  &__favorite.ca-toggle-favorite {
    position: static;
    width: rem-calc(44);
  }

  &__video-button {
    @include iconCircle;
    font-size: rem-calc(14);
    width: rem-calc(44);
  }

  &__price-wrap {
    position: relative;
  }

  &__price.ca-price {
    --font-size-selling: #{$font-size-xxl};
    --font-size-regular: #{$font-size-s};
  }

  &__price--skeleton {
    font-size: $font-size-xxl;
  }

  &__lowest-price {
    font-size: $font-size-xxs;
  }

  &__campaigns {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__brand-and-name {
    margin: $px8 0 $px16;
  }

  &__product-summary {
    margin-bottom: $px16;
  }

  &__campaigns {
    margin: 0 0 rem-calc(16);
  }

  &__buy-wrap {
    display: flex;
    column-gap: $px8;

    @include bp(tablet) {
      flex-direction: column;
      row-gap: rem-calc(18);
    }
  }

  &__variant-picker {
    width: 100%;
  }

  &__color-picker {
    margin: rem-calc(18) 0 0;
  }

  &__color-picker-title {
    font-weight: $font-weight-bold;
    margin: 0 0 rem-calc(6);
  }

  &__color-picker-current {
    font-weight: $font-weight-normal;
  }

  &__quantity {
    margin-bottom: $px16;
  }

  &__skeleton-button {
    .ca-skeleton + & {
      margin-top: 0;
    }
  }

  &__buy-button.ca-button {
    font-size: $font-size-s;
    height: rem-calc(52);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem-calc(8);

    &.ca-button--loading {
      .ca-icon {
        display: none;
      }
    }

    .ca-spinner {
      border-color: $c-text-primary;
    }
  }

  &__payment {
    margin: $px16 0 $px20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: $px10;
    text-align: center;
    font-size: $font-size-xs;
  }

  &__split-payment {
    @include flex-halign;
  }

  &__payment-logos {
    --logo-display-gap: 0 #{$px16};
    align-items: center;
  }

  &__accordion {
    border-top: 12px solid $c-light-pink;
    margin: 0 -#{$default-spacing/2} $default-spacing;
    padding: 0 $default-spacing;

    @include bp(tablet) {
      border-top: none;
      margin: 0;
      padding: 0;
    }
  }

  &__specifications-title {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    padding: 1rem 0;
  }

  &__related {
    margin: $px32 0 $px20;
  }

  &__related-title {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    margin: 0 0 $px20;
  }
}
