// Theme colors
$c-white: #ffffff;
$c-lightest-gray: #f8f8f8;
$c-light-gray: #ececec;
$c-medium-gray: #d8d8d8;
$c-dark-gray: #adadad;
$c-darkest-gray: #363636;

$c-accent-color: $c-darkest-gray;

// Theme text colors
$c-text-primary: #222222;
$c-text-secondary: #878787;
$c-text-inverse: #ffffff;

// Overlay
$c-overlay: rgba(0, 0, 0, 0.3);

// Feedback/Support
$c-success: #1a613e;
$c-error: #a12b2b;

// Border colors
$c-border-light: $c-light-gray;
$c-border-dark: $c-medium-gray;

// Backgrounds
$c-main-bg: $c-white;

// Header
$c-topbar-bg: $c-medium-gray;
$c-header-bg: $c-light-gray;
$c-search-bg: $c-medium-gray;
$c-cart-color: $c-text-primary;

// Price
$c-sale: rgb(177, 0, 29);

// Buttons
$c-button-main-bg: $c-darkest-gray;
$c-button-main-txt: $c-white;

$c-button-secondary-bg: transparent;
$c-button-secondary-txt: $c-text-primary;
$c-button-secondary-border: 1px solid $c-darkest-gray;

// Content panel
$c-content-panel-header-bg: $c-lightest-gray;
$c-content-panel-header-txt: $c-text-primary;

// Notification badge
$c-notification-badge-bg: $c-dark-gray;
$c-notification-badge-txt: $c-text-inverse;

// Skeletons
$c-skeleton: $c-light-gray;
