@use 'sass:color';

// Theme colors
$c-white: #fff;
$c-black: #000;
$c-lightest-gray: #f8f8f8;
$c-light-gray: #ececec;
$c-medium-gray: #d8d8d8;
$c-dark-gray: #adadad;
$c-darkest-gray: #363636;
$c-accent-color: $c-darkest-gray;

// Theme text colors
$c-text-primary: #222;
$c-text-secondary: #878787;
$c-text-inverse: #fff;

// Overlay
$c-overlay: rgb(0 0 0 / 30%);

// Feedback/Support
$c-success: #428363;
$c-error: #ca4a4a;
$c-ok: #f2c03f;
$c-info: #3a8ec1;

// Stock statuses
$c-in-stock: #0a5;
$c-out-of-stock: #d10a0a;
$c-oversellable: #fab300;
$c-few-left: $c-oversellable;
$c-static-stock: $c-in-stock;

// Border colors
$c-border-light: $c-light-gray;
$c-border-dark: $c-medium-gray;

// Backgrounds
$c-main-bg: $c-white;

// Header
$c-topbar-bg: $c-white;
$c-header-bg: $c-white;
$c-search-bg: $c-lightest-gray;
$c-cart-color: $c-text-primary;

// Price
$c-sale: #d30505;

// Buttons
$c-button-primary-bg: var(--accent-color, $c-accent-color);
$c-button-primary-bg-hover: color-mix(
  in srgb,
  var(--accent-color, $c-accent-color),
  #fff 5%
);
$c-button-primary-txt: $c-white;
$c-button-primary-border: transparent;
$c-button-secondary-bg: transparent;
$c-button-secondary-bg-hover: color.adjust(
  $c-button-secondary-bg,
  $lightness: -3%
);
$c-button-secondary-txt: $c-text-primary;
$c-button-secondary-border: $c-darkest-gray;

// Inputs
$c-input-focused-border: var(--accent-color, $c-accent-color);
$c-input-background: $c-white;
$c-input-checkbox-text: $c-text-secondary;
$c-input-checkbox-bg: $c-white;
$c-input-checkbox-checked-bg: var(--accent-color, $c-accent-color);
$c-input-checkbox-checked-border: var(--accent-color, $c-accent-color);
$c-input-radio-checked-bg: var(--accent-color, $c-accent-color);

// Content panel
$c-content-panel-header-bg: $c-lightest-gray;
$c-content-panel-header-txt: $c-text-primary;

// Notification badge
$c-notification-badge-bg: var(--accent-color, $c-accent-color);
$c-notification-badge-txt: $c-text-inverse;

// Skeletons
$c-skeleton: $c-light-gray;
