// Theme colors
$c-white: #ffffff;
$c-black: #000000;
$c-lightest-gray: #fefefe;
$c-light-gray: #ececec;
$c-medium-gray: #ded5d5;
$c-dark-gray: #adadad;
$c-semi-gray: #5b5758;
$c-semidark-gray: #5a5656;
$c-darker-gray: #2a2b35;
$c-darkest-gray: #363636;
$c-light-pink: #fdf6f7;
$c-pale-pink: #e59797;
$c-pink: #ffdce0;
$c-light-green: #89D7A4;

$c-accent-color: $c-pink;
$c-accent-bg: $c-pink;

// Theme text colors
$c-text-primary: #202020;
$c-text-secondary: #5a5656;
$c-text-inverse: #ffffff;

// Overlay
$c-overlay: rgba(0, 0, 0, 0.3);

// Feedback/Support
$c-success: #428363;
$c-error: #ca4a4a;
$c-ok: #f2c03f;
$c-info: $c-accent-color;

// Stock statuses
$c-in-stock: #00aa55;
$c-out-of-stock: #d10a0a;
$c-oversellable: #fab300;
$c-few-left: $c-oversellable;
$c-static-stock: $c-in-stock;

// Border colors
$c-border-super-light: #e6e5e5;
$c-border-light: $c-light-gray;
$c-border-medium: $c-medium-gray;
$c-border-dark: $c-semidark-gray;
$c-border-pink: $c-accent-bg;

// Backgrounds
$c-main-bg: $c-white;

// Header
$c-topbar-bg: $c-accent-bg;
$c-header-bg: $c-white;
$c-search-bg: $c-medium-gray;
$c-cart-color: $c-text-primary;

// Price
$c-sale: #186506;

// Buttons
$c-button-primary-bg: $c-text-primary;
$c-button-primary-bg-hover: lighten($c-text-primary, 3%);
$c-button-primary-txt: $c-text-inverse;
$c-button-primary-border: $c-text-primary;

$c-button-secondary-bg: transparent;
$c-button-secondary-bg-hover: darken($c-white, 3%);
$c-button-secondary-txt: $c-text-primary;
$c-button-secondary-border: $c-dark-gray;

$c-button-tertiary-bg: $c-pink;
$c-button-tertiary-bg-hover: lighten($c-pink, 3%);
$c-button-tertiary-txt: $c-text-primary;
$c-button-tertiary-border: $c-pink;

// Inputs
$c-input-focused-border: $c-accent-color;
$c-input-background: $c-white;

$c-input-checkbox-text: $c-text-primary;
$c-input-checkbox-bg: $c-white;
$c-input-checkbox-checked-bg: $c-pink;
$c-input-checkbox-checked-border: $c-text-primary;

$c-input-radio-checked-bg: $c-pink;

// Content panel
$c-content-panel-header-bg: $c-white;
$c-content-panel-header-txt: $c-text-primary;

// Notification badge
$c-notification-badge-bg: $c-pink;
$c-notification-badge-txt: $c-text-primary;

// Skeletons
$c-skeleton: $c-lightest-gray;
