@import '../helpers/sizing';

// Borders
$border-light: 1px solid $c-border-light;
$border-dark: 1px solid $c-border-dark;
$button-primary-border: none;
$button-secondary-border: 1px solid $c-button-secondary-border;
$input-border: $border-dark;
$input-checkbox-border: $input-border;
$default-radius: 0;
$input-border-radius: 0;
$textarea-border-radius: $default-radius;
$focus-border: 3px $c-ok;

// Box shadow
$box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.4);

// Z-index
$z-index-cookie-consent: 100;
$z-index-search-overlay: $z-index-cookie-consent + 1;
$z-index-search: $z-index-search-overlay + 1;
$z-index-header: $z-index-search + 1;
$z-index-overlay: $z-index-header + 1;
$z-index-search-computer: $z-index-overlay + 1;
$z-index-snackbar: $z-index-search-computer + 1;
$z-index-added-to-cart: $z-index-search-computer + 1;
$z-index-panel: $z-index-snackbar + 1;
$z-index-modal: $z-index-panel + 1;

// Top bar
$top-bar-height: rem-calc(20px);
$top-bar-height-computer: rem-calc(36px);

// Search
$search-height: rem-calc(50px);
$search-input-height: rem-calc(40px);

// Header
$header-bar-height: rem-calc(50px);
$header-bar-height-computer: rem-calc(80px);
$header-navigation-height-computer: rem-calc(50px);

$header-height: $top-bar-height + $header-bar-height + $search-height;
$header-height-computer: $top-bar-height-computer + $header-bar-height-computer +
  $header-navigation-height-computer;

// Checkout
$checkout-width: rem-calc(700px);
$checkout-logo-width: rem-calc(100px);
$checkout-logo-width-computer: rem-calc(150px);

// Text and icon
$text-and-icon-spacing: 0.4em;

// List column count
$list-column-count: 2;
$list-column-count-tablet: 3;
$list-column-count-laptop: 5;

// Text widget max width
$text-widget-max-width: rem-calc(650px);

// Content panel
$content-panel-header-height: 50px;
$content-panel-header-height-computer: 60px;
