@import '../helpers/sizing';

// Spacing
$px4: rem-calc(4px);
$px8: rem-calc(8px);
$px10: rem-calc(10px);
$px12: rem-calc(12px);
$px16: rem-calc(16px);
$px20: rem-calc(20px);
$px24: rem-calc(24px);
$px32: rem-calc(32px);
$px40: rem-calc(40px);
$px48: rem-calc(48px);
$px56: rem-calc(56px);
$px64: rem-calc(64px);
$px72: rem-calc(72px);
$px80: rem-calc(80px);

$default-spacing: $px20;
$default-site-width-spacing: $px20;
$default-site-width-spacing-tablet: $px40;
$default-site-width-spacing-laptop: $px40;

// List spacing
$list-column-spacing: $px4;
$list-column-spacing-tablet: $px10;
$list-column-spacing-desktop: rem-calc(18);
$list-column-spacing-laptop: rem-calc(18);
$list-row-spacing: $px24;
$list-row-spacing-tablet: $px32;
$list-row-spacing-desktop: rem-calc(36);
$list-row-spacing-laptop: rem-calc(36);

// Widget spacing
$widget-column-spacing: $px10;
$widget-row-spacing: $px10;
$widget-column-spacing-tablet: $px16;
$widget-row-spacing-tablet: $px16;
$widget-column-spacing-laptop: $px20;
$widget-row-spacing-laptop: $px20;

$widget-container-spacing: $px20;
$widget-container-spacing-tablet: $px20;
$widget-container-spacing-laptop: $px20;
