@import '../helpers/sizing';

// Spacing
$px4: rem-calc(4px);
$px8: rem-calc(8px);
$px12: rem-calc(12px);
$px16: rem-calc(16px);
$px20: rem-calc(20px);
$px24: rem-calc(24px);
$px32: rem-calc(32px);
$px40: rem-calc(40px);
$px48: rem-calc(48px);
$px56: rem-calc(56px);
$px64: rem-calc(64px);
$px72: rem-calc(72px);
$px80: rem-calc(80px);

$default-spacing: $px20;
$list-spacing: rem-calc(10px);
$widget-spacing: rem-calc(5px);
$widget-spacing-desktop: rem-calc(10px);
