@import '../helpers/sizing';

// Font family
$body-font: 'Poppins', sans-serif;
$heading-font: 'Poppins', sans-serif;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

// Font size
$font-size-xs: rem-calc(12px);
$font-size-s: rem-calc(14px);
$font-size-m: rem-calc(16px);
$font-size-l: rem-calc(18px);
$font-size-xl: rem-calc(20px);
$font-size-xxl: rem-calc(24px);

$body-font-size: $font-size-s;

// Line height
$body-line-height: 1.5;

// Letter spacing
$letter-spacing-3: 0.03em;
$letter-spacing-4: 0.04em;
