@import '../helpers/sizing';

// Font family
$body-font: 'Roboto', serif;
$heading-font: 'Roboto', serif;

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 500;

// Font size
$font-size-xs: rem-calc(12px);
$font-size-s: rem-calc(14px);
$font-size-m: rem-calc(16px);
$font-size-l: rem-calc(18px);
$font-size-xl: rem-calc(20px);
$font-size-xxl: rem-calc(24px);

$body-font-size: $font-size-s;

// Line height
$body-line-height: 1.4;
