.ca-account-page {
  &__body {
    @include bp(laptop) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 $px40;
  }
  
  &__title {
    font-size: $font-size-xxl;
    font-weight: $font-weight-bold;
    margin: 0 0 $px40;
  }
  
  &__spinner.ca-spinner {
    width: 60px;
    height: 60px;
    border-color: $c-accent-color;
  }
  
  &__content {
    width: 100%;
    background: $c-lightest-gray;
    padding: $px16 $px12;
    
    @include bp(laptop) {
      border: $border-light;
      padding: $px20 $px40;
      min-height: rem-calc(180px);
    }
  }
}

.ca-customer-service-box {
  max-width: rem-calc(300px);
  width: 100%;
  border: $border-light;
  background: $c-lightest-gray;
  padding: $px16;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $px20 auto 0;
  @include bp(laptop) {
    margin: 0 0 0 $px32;
  }
  
  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
  }
  
  &__text {
    margin: $px10 0 $px4;
  }
  
  &__contact {
    margin: $px8 0 0;
    font-weight: $font-weight-bold;
    font-size: $font-size-m;
  }
}