.ca-checkout-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: $default-spacing;
  
  &__logo {
    width: $checkout-logo-width;
    
    @include bp(laptop) {
      width: $checkout-logo-width-computer;
    }
  }
  
  &__title {
    @include visually-hidden;
  }
  
  &__back {
    --icon-size: 18px;

    > * {
      display: block;
    }
  }
  
  &__button {
    padding: 0.9em;
  }
}
