.ca-footer {
  background-color: $c-light-pink;
  font-size: $font-size-xs;
  font-weight: 300;
  margin-top: $default-spacing;
  padding-bottom: rem-calc(30px);

  &__section {
    &--usps {
      padding: rem-calc(30px) 0 rem-calc(30px);
    }

    &--newsletter {
      background-color: $c-pink;
      padding: $px24 $px16 $px16;
    }

    &--content {
      padding: 0 0 $px32;
    }

    &--logos {
      border-bottom: $border-medium;
      padding-bottom: rem-calc(30px);
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: $px48;
      margin: 0 auto;
    }
  }

  &__usps {
    display: grid;
    grid-template-columns: repeat(var(--cell, 2), max-content);
    column-gap: $px24;
    justify-content: center;
  }

  &__usp {
    column-gap: rem-calc(8px);
    text-transform: uppercase;

    &.ca-icon-and-text {
      flex-direction: row;
      justify-content: flex-start;
    }

    .ca-icon-and-text__text {
      margin: 0;
    }
  }

  &__newsletter {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  &__newsletter-title {
    @include visually-hidden;
  }

  &__newsletter-text {
    font-size: $font-size-xs;
  }

  &__newsletter-logo {
    width: 32px;
    margin: 0 auto $px16;
  }

  &__newsletter-offer {
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
  }

  &__newsletter-policy {
    font-size: rem-calc(8px);
  }

  &__title {
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
    margin-bottom: $px20;
  }

  &__title--social,
  &__title--logos {
    @include visually-hidden;
  }

  &__contact-title {
    @include visually-hidden;
  }

  &__contact-info {
    text-decoration: underline;
  }

  &__logos {
    --logo-display-gap: #{rem-calc(10px)} #{$px40};
    --logo-display-size: 1.2rem;
  }

  &__market-title {
    margin: 0 0 $px20;
    font-weight: $font-weight-bold;
    font-size: $font-size-m;

    @include bp(tablet) {
      @include visually-hidden;
    }
  }

  &__market-and-cert {
    padding: rem-calc(20px) rem-calc(24px);

    @include bp(tablet) {
      padding: 0;
    }
  }

  &__cert {
    display: flex;
    column-gap: $px20;
    margin: rem-calc(60) 0 0;

    @include bp(tablet) {
      justify-content: flex-end;
    }
  }

  &__cert-tryggehandel {
    width: rem-calc(60px);
  }

  &__cert-hallbarehandel {
    width: rem-calc(68px);
  }

  &__main-logo {
    width: 114px;
    margin-bottom: clamp(#{rem-calc(20px)}, 2vw, #{rem-calc(30px)});
  }

  &__corp {
    line-height: 1.5;
    white-space: pre-line;
  }

  &__social {
    align-self: end;
  }

  &__social-inner {
    display: flex;
    gap: $px12;
  }

  &__social-link {
    --icon-size: 20px;

    background-color: $c-darker-gray;
    border-radius: 50vw;
    width: $px40;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(8px);
  }

  &__vat-toggle {
    flex-direction: column;
  }

  &__nav-link {
    text-decoration: underline;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(var(--cell, 1), 1fr);
    row-gap: var(--rg, #{rem-calc(60px)});
  }

  &__disclaimer {
    font-size: rem-calc(10px);
    margin: $px20 0 rem-calc(14px);
  }

  &__copyright {
    grid-column: 1 / -1;
    justify-self: start;
  }

  &__powered-by {
    display: flex;
    white-space: nowrap;
    padding: rem-calc(2) 0 0;
  }

  &__geins {
    height: 16px;
    margin-left: rem-calc(6);
    width: auto;
  }

  .ca-accordion-item__toggle {
    padding: rem-calc(20px) rem-calc(24px);
  }

  &__accordion-about .ca-accordion-item__icon-wrap.ca-icon-and-text {
    @include accordionIconBeforeTitle('about');
  }

  &__accordion-support .ca-accordion-item__icon-wrap.ca-icon-and-text {
    @include accordionIconBeforeTitle('support');
  }

  @include bp(phone-only) {
    &__content-holder {
      width: 100%;
    }

    &__bottom {
      margin-right: rem-calc(24px);
      margin-left: rem-calc(24px);
    }
  }

  @include bp(tablet) {
    &__section--content {
      padding-top: rem-calc(50px);
    }

    &__section--bottom {
      padding-top: rem-calc(68px);
    }

    &__usps {
      --cell: 4;
      justify-content: center;
    }

    &__content-holder {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: $px20;
    }

    &__main-logo {
      margin-left: auto;
    }

    &__corp-info {
      text-align: right;
    }

    &__bottom {
      --rg: 0;
      --cell: 2;
      justify-content: space-between;
    }

    &__copyright {
      justify-self: end;
      margin-top: $px20;
    }

    &__powered-by {
      justify-content: flex-end;
    }
  }
}
