.ca-footer {
  margin-top: $default-spacing;

  &__section {
    &--usps {
      background-color: $c-light-gray;
      padding: $px8 0;
    }

    &--newsletter {
      background-color: $c-lightest-gray;
      padding: $px20 0;

      @include bp(tablet) {
        padding: $px32 0;
      }
    }

    &--content {
      background-color: $c-light-gray;
      padding: $px24 0 $px32;
    }

    &--bottom {
      background-color: $c-medium-gray;
    }
  }

  &__usps {
    display: flex;
    text-align: center;
    justify-content: space-around;

    @include bp(tablet) {
      justify-content: center;
    }
  }

  &__usp {
    padding: 0 $px4;

    @include bp(tablet) {
      padding: 0 $px32;
    }

    .ca-icon-and-text__icon {
      margin-bottom: $px4;

      @include bp(tablet) {
        margin-bottom: 0;
      }
    }
  }

  &__newsletter {
    padding: $px16 $px12;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

    @include bp(tablet) {
      background-color: $c-light-gray;
      padding: $px20 $px48 $px24;
    }
  }

  &__newsletter-title {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    margin: 0 0 $px8;
  }

  &__newsletter-text {
    margin: 0 0 $px16;
  }

  &__content-holder {
    @include bp(tablet) {
      display: flex;
    }
  }

  &__column {
    margin-bottom: $px20;
    line-height: 1.6;

    @include bp(tablet) {
      width: 25%;
    }
  }

  &__title {
    font-size: $font-size-l;
    margin-bottom: $px12;
    font-weight: $font-weight-bold;

    &:not(:first-child) {
      margin-top: $px20;
    }

    @include bp(tablet) {
      font-size: $font-size-xl;
    }
  }

  &__contact-title {
    font-weight: $font-weight-bold;
  }

  &__contact-info {
    text-decoration: underline;
  }

  &__vat-toggle {
    flex-direction: column;
  }

  &__nav-link {
    text-decoration: underline;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    font-size: 30px;
    
    &:not(:last-child) {
      margin-right: $px20;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include bp(tablet) {
      justify-content: space-between;
    }
  }

  &__bottom-column {
    &--logos {
      display: flex;
      justify-content: space-between;
      margin: $px20 0;
    }

    &--copyright {
      width: 74%;
      padding: $px12 0;
      margin: 0 auto;
      border-top: $border-light;
      text-align: center;
      font-size: $font-size-xs;
      color: $c-text-secondary;

      @include bp(tablet) {
        border: none;
        text-align: right;
        width: auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }
    }
  }

  &__logo {
    height: 15px;
    width: auto;
    padding: 0 $px4;

    @include bp(tablet) {
      height: 20px;
      padding: 0 $px16;

      &--first {
        padding-left: 0;
      }
    }
  }

  &__powered-by {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: rem-calc(2) 0 0;
  }

  &__geins {
    height: 16px;
    margin-left: rem-calc(6);
    width: auto;
  }
}
