.ca-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: $z-index-header;

  &__bar {
    background-color: $c-header-bg;
    z-index: $z-index-header;
    position: relative;

    body[style='overflow: hidden;'] & {
      padding-right: var(--scrollbar-width);
    }
  }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: $px24;
    align-items: center;
    height: $header-bar-height;

    @include bp(laptop) {
      grid-template-columns: 1fr auto 1fr;
      height: $header-bar-height-computer;
    }
  }

  &__actions {
    line-height: 1;
    display: flex;
    column-gap: clamp(#{rem-calc(14px)}, 2vw, #{rem-calc(24px)});
    align-items: flex-start;
    justify-self: end;
  }

  &__actions {
    --icon-size: 1.31rem;
  }

  &__link .ca-icon-and-text__text {
    @include visually-hidden;
  }

  &__nav-toggle {
    @include flex-valign;
    font-size: 28px;
  }

  &__search-toggle {
    @include flex-valign;
    margin-right: auto;
    font-size: 23px;
  }

  &__logo {
    width: clamp(#{rem-calc(126px)}, 18vw, #{rem-calc(208px)});
  }
}
