.ca-layout-undistracted {
  background-color: $c-light-gray;
  min-height: 100vh;

  &__main {
    padding-top: rem-calc(15px);

    @include bp(laptop) {
      padding-top: calc(#{$default-spacing} * 2);
    }
  }

  .ca-top-bar {
    &__usps {
      @include bp(laptop) {
        @include calign;
      }
    }
  }
}
