.ca-list-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 $px32;

  &__text {
    width: 100%;
    
    @include bp(laptop) {
      width: 50%;
      max-width: 700px;
    }
  }

  &__title {
    font-size: $font-size-s;
    font-weight: $font-weight-semibold;
    margin: 0 0 rem-calc(14px);

    &--skeleton {
      margin: 0 auto $px8;

      @include bp(tablet) {
        margin: 0 0 $px8;
      }
    }
  }

  &__description {
    font-size: rem-calc(10px);
    letter-spacing: $letter-spacing-4;
    color: $c-semidark-gray;

    &--skeleton {
      @include bp(tablet-down) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  
  &__subcategories {
    margin-top: clamp(#{rem-calc(22px)}, #{"-4vw + 4rem"}, #{rem-calc(30px)});
    max-width: 100%;
    
    @include bp(laptop) {
      max-width: 33rem;
    }
  }
}