.ca-list-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -#{$default-spacing/2} $default-spacing;
  margin-top: $px20;

  @include bp(laptop) {
    margin: 0 0 $default-spacing;
  }

  &__filter-toggle {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    letter-spacing: $letter-spacing-3;
    display: flex;
    align-items: center;
  }

  &__icon-text {
    width: 100%;
    column-gap: rem-calc(11px);
  }

  &__icon-text .ca-icon-and-text__text {
    margin-right: 0;
  }

  &__filter-button-wrap {
    display: flex;
  }

  &__active-filters {
    margin-left: rem-calc(6px);
  }

  &__title {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin-right: $px16;
  }

  &__sort-select.ca-input-select {
    width: 100%;

    .ca-input-select__select-wrap {
      height: 46px;
    }

    @include bp(laptop) {
      width: 165px;
    }
  }

  &__active-products {
    color: $c-semi-gray;
    font-size: rem-calc(10px);
    letter-spacing: $letter-spacing-3;
  }
}