.ca-list-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 clamp(#{rem-calc(22px)}, #{'-4vw + 4rem'}, #{rem-calc(30px)});

  &__text {
    width: 100%;

    @include bp(laptop) {
      width: 50%;
      max-width: 700px;
    }
  }

  &__title {
    font-size: $font-size-s;
    font-weight: $font-weight-semibold;

    &--skeleton {
      margin: 0 auto;
    }
  }

  &__description {
    font-size: rem-calc(10px);
    letter-spacing: $letter-spacing-4;
    color: $c-semidark-gray;
    margin-top: rem-calc(14px);

    &--skeleton {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subcategories {
    margin-top: clamp(#{rem-calc(22px)}, #{'-4vw + 4rem'}, #{rem-calc(30px)});
    max-width: 100%;

    @include bp(laptop) {
      max-width: rem-calc(800);
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
