.ca-product-card {
  width: 100%;
  display: grid;
  grid-template:
    'new' $px16
    'img' auto
    'content' 1fr
    / 100%;
  position: relative;

  &__new-badge {
    grid-area: new;
    align-self: start;
    margin-left: $px8;
  }

  &__image-wrap {
    grid-area: img;
    line-height: 0;
    position: relative;
  }

  &__image-link {
    display: block;
  }

  &__image {
    transition: opacity 200ms ease;
    opacity: 1;

    @include bp(laptop) {
      &--has-second {
        &:hover {
          opacity: 0;
        }
      }

      &--second-image.ca-image {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.ca-image--product::after {
      display: none;
    }
  }

  &__info {
    padding-top: clamp(#{rem-calc(10px)}, 2vw, #{rem-calc(14px)});
    grid-area: content;
    display: flex;
    width: 100%;

    > * {
      flex-grow: 1;
    }
  }

  &__discount {
    @include campaignBadge;

    position: absolute;
    top: $px8;
    left: $px8;

    @include bp(tablet) {
      font-size: rem-calc(11px);
    }
  }

  &__content {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: clamp(#{rem-calc(2px)}, 2vw, rem-calc(4px)) rem-calc(12px);
    padding: 0 $px4;

    @include bp(tablet) {
      padding: 0;
    }

    @include bp(desktop) {
      grid-template-columns: minmax(max-content, 1fr) auto;
      grid-template-rows: 1fr auto;
    }
  }

  &__price.ca-price {
    @include bp(tablet) {
      --font-size-selling: #{$font-size-s};
      --font-size-regular: #{$font-size-xs};
    }
  }

  &__campaigns {
    display: flex;
    gap: 0.25em;
    flex-wrap: wrap;
    align-self: start;

    @include bp(desktop) {
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__quickshop {
    @include iconCircle;
    --icon-size: 16px;

    position: absolute;
    right: $px8;
    bottom: $px8;

    @include bp(tablet) {
      display: none;
    }
  }

  &__brand-and-name {
    font-size: #{rem-calc(10px)};
    grid-column: 1 / -1;
    margin-top: auto;

    @include bp(tablet) {
      font-size: $font-size-xs;
    }
  }

  &__badge-list {
    display: flex;
    flex-direction: column;
    row-gap: rem-calc(5px);
    position: absolute;
    left: rem-calc(4px);
    bottom: rem-calc(4px);

    @include bp(tablet) {
      row-gap: rem-calc(8px);
      left: rem-calc(8px);
      bottom: rem-calc(8px);
    }
  }

  &__color-variants {
    position: absolute;
    right: rem-calc(4);
    bottom: 0;
  }
}
