$column-width: 48.2%;

.ca-product-page {
  &__section {
    margin-bottom: $px20;
    
    @include bp(laptop) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: $px56;
    }
  }

  &__main {
    position: relative;
    max-width: 500px;
    margin: $px16 auto 0;
    
    @include bp(laptop) {
      width: 40%;
      margin: $px32 auto 0;
    }
  }

  &__gallery.ca-product-gallery {
    @include bp(laptop) {
      width: $column-width;
      margin-right: $px48;
    }
  }

  &__skeleton-main-slide {
    @include bp(tablet-down) {
      width: 69.5%;
      margin: 0 auto;
    }
  }

  &__price {
    margin: $px4 0 $px8;
  }

  &__product-summary {
    margin-bottom: $px16;
  }

  &__campaigns {
    margin: 0 0 rem-calc(16);
  }

  &__variant-picker {
    margin-bottom: $default-spacing;
  }

  &__quantity {
    margin-bottom: $px16;
  }

  &__skeleton-button {
    .ca-skeleton + & {
      margin-top: $px32;
    }
  }

  &__buy-button.ca-button {
    margin-bottom: $px20;
    padding: 0.9em 2.15em;
  }

  &__stock-display {
    font-size: $font-size-m;
  }

  &__actions {
    margin-bottom: $px24;
  }

  &__usps {
    display: flex;
    justify-content: space-between;
    border-top: $border-light;
    padding: $px16 0 0;
  }

  &__usp {
    padding: 0 $px4;
    text-align: center;
    .ca-icon {
      margin-bottom: $px4;
    }
  }

  &__accordion {
    margin: 0 -#{$default-spacing/2} $default-spacing;
    
    @include bp(laptop) {
      margin: 0;
      width: $column-width;
    }
  }

  &__specifications-box {
    @include bp(laptop) {
      width: $column-width;
      background: $c-lightest-gray;
      padding: 0 $px24 $px16;
    }
  }

  &__specifications-title {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    padding: 1rem 0;
  }

  &__related {
    margin: $px32 0 $px20;
  }

  &__related-title {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    margin: 0 0 $px20;
  }
}