.ca-top-bar {
  $block: &;

  background-color: $c-topbar-bg;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  letter-spacing: $letter-spacing-3;
  text-transform: uppercase;
  position: relative;
  z-index: $z-index-header;
  transform: scaleY(1);
  transition: transform 400ms ease;
  transform-origin: bottom center;
  height: $top-bar-height;

  @include bp(laptop) {
    height: $top-bar-height-computer;
  }

  body[style='overflow: hidden;'] &:not(.ca-top-bar--undistracted) {
    padding-right: var(--scrollbar-width);
  }

  &__container {
    @include flex-halign;

    line-height: $top-bar-height;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    @include bp(laptop) {
      line-height: $top-bar-height-computer;
    }
  }

  &__flag {
    margin-right: $px4;
    font-size: 15px;
  }

  &__usps {
    grid-column-start: 2;
    display: flex;
    column-gap: $px16;
  }

  &__usp {
    transition: transform 400ms ease;
    transform: scale(1);
  }

  &__customer-type-toggle {
    margin: 0 0 0 $px20;
  }

  &__lang-switcher {
    justify-self: end;
  }

  &--scrolled {
    transform: scaleY(0.2);

    @include bp(laptop) {
      transform: scaleY(0.17);
    }

    #{$block}__usp {
      transform: scale(0);
    }
  }
}
