.ca-top-bar {
  background-color: $c-topbar-bg;
  font-size: $font-size-xs;
  position: relative;
  z-index: $z-index-header;

  body[style='overflow: hidden;'] &:not(.ca-top-bar--undistracted) {
    padding-right: var(--scrollbar-width);
  }

  &__container {
    height: $top-bar-height;
    line-height: $top-bar-height;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    @include bp(laptop) {
      height: $top-bar-height-computer;
      line-height: $top-bar-height-computer;
    }
  }

  &__flag {
    margin-right: $px4;
    font-size: 15px;
  }

  &__usps {
    grid-column-start: 2;
    display: flex;
    column-gap: $px16;
  }

  &__customer-type-toggle {
    margin: 0 0 0 $px20;
  }

  &__lang-switcher {
    justify-self: end;
  }
}
