$search-width: 450px !default;

.voyado-search {
  &__bar {
    @include bp(tablet-down) {
      height: $search-height;
      background-color: $c-white;

      @include flex-calign;
    }
  }

  &__results-container {
    $vh: calc(var(--vh, 1vh) * 100);

    position: relative;
    background-color: $c-white;
    height: calc(
      100vh - #{$top-bar-height + $header-bar-height + $search-height}
    );
    height: calc(
      #{$vh} - #{$top-bar-height + $header-bar-height + $search-height}
    );

    @include bp(laptop) {
      // --half-viewport: calc((100% - var(--scrollbar-width, 0px)) * 0.5);
      // --half-element-width: #{$site-width * 0.5};
      // --search-position: calc(var(--half-viewport) - var(--half-element-width));

      position: fixed;
      height: auto;
      // max-width: 100%;
      // width: $site-width;
      // left: #{'max(0.1px, var(--search-position))'};
      border-radius: 0 0 rem-calc(6px) rem-calc(6px);
      border: $border-pink;

      // &--loading-empty,
      // &--empty {
        --half-element-width: #{$search-width * 0.5};

        width: $search-width;
        max-width: $search-width;
      // }
    }
  }

  &__wrapper &__overlay.ca-overlay {
    height: calc(100vh + 100%);
    bottom: auto;

    @include bp(tablet-down) {
      z-index: $z-index-search-overlay;
    }
  }

  &__close-button {
    height: 50px;
    background-color: $c-white;
    width: 100%;
    text-transform: uppercase;
    border-top: $border-light;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  @include bp(tablet-down) {
    transform: translateY(-100%);
    transition: transform 200ms ease;
    width: 100%;
    position: fixed;
    z-index: $z-index-search;
  }

  @include bp(laptop) {
    position: relative;
    z-index: $z-index-search-computer;

    &--focus .voyado-search-form__input-wrap {
      border-bottom-color: transparent;
      border-radius: rem-calc(6px) rem-calc(6px) 0 0;
    }
  }

  &--loading:not(&--loading-empty) {
    .voyado-search-results__top,
    .voyado-search-results__results {
      opacity: 0.5;
    }
  }

  &--visible {
    @include bp(tablet-down) {
      transform: translateY(0);

      .ca-header--scrolled & {
        box-shadow: $box-shadow;
      }
    }
  }

  &--focus .voyado-search-form__input-wrap {
    background-color: $c-white;
  }
}

.voyado-search-form {
  width: calc(100% - #{$default-spacing});

  &__input-wrap {
    background-color: $c-light-pink;
    border: $border-pink;
    border-radius: 50vw;
    width: 100%;
    height: $search-input-height;
    position: relative;
    transition: border-color 200ms ease, background-color 200ms ease;

    @include flex-valign;

    @include bp(laptop) {
      width: $search-width;
    }
  }

  &__input {
    flex: 1;
    height: 100%;
    padding: 0 $px16;
    outline: none;

    @include bp(phone-only) {
      font-size: $font-size-m;
    }

    &:focus-visible {
      box-shadow: none;
    }
  }

  &__button {
    @include flex-calign;

    font-size: 16px;
    height: 100%;
    width: 40px;
    padding-right: rem-calc(8px);
  }

  &__remove {
    @include flex-calign;

    position: absolute;
    height: 100%;
    width: 40px;
    font-size: 15px;
    right: 40px;
    background-color: $c-white;
  }
}

.voyado-search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: $px16 $px20 rem-calc(66px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;

  @include bp(laptop) {
    overflow-y: hidden;
    padding: $px16 $px20;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 $px16;
    transition: opacity 200ms ease;
  }

  &__title {
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    &--suggestion {
      margin: 0 0 $px8;
    }
  }

  &__see-all {
    text-decoration: underline;
  }

  &__suggestions {
    position: fixed;
    background-color: $c-white;
    width: 100%;
    padding: $px16 $px20;
    line-height: 1.6;

    @include bp(laptop) {
      width: $search-width;
    }
  }

  &__no-suggestions {
    font-size: $font-size-xs;
    color: $c-text-secondary;
  }

  &__spinner.ca-spinner {
    border-color: var(--accent-color, $c-accent-color);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0 -15px 0;

    @include bp(laptop) {
      top: 50%;

      &.empty {
        margin: 20px auto;
        position: static;
      }
    }
  }

  // &__results-wrap {
  //   display: flex;
  //   justify-content: space-between;
  //   align-content: flex-start;
  //   flex-wrap: wrap;

  //   @include bp(laptop) {
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //     gap: rem-calc(32);
  //   }
  // }

  &__results {
    width: 320px;
    transition: opacity 200ms ease;

    @include bp(desktop-down) {
      width: 28vw;
    }

    @include bp(tablet-down) {
      width: 48%;
      margin: 0;
    }

    &--products {
      width: 420px;
      margin: 0;

      @include bp(desktop-down) {
        width: 33vw;
      }

      @include bp(tablet-down) {
        width: 100%;
        margin: 0 0 $px16;
      }
    }

    &--empty {
      color: $c-text-secondary;
      margin: $px10 0;
      text-align: center;
      width: 100%;
    }
  }
}

.voyado-search-results-list {
  &__title {
    font-weight: $font-weight-bold;
    margin: 0 0 $px8;
  }

  &__list {
    @include bp(laptop) {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }
  }

  &__item {
    @include bp(laptop) {
      width: 49%;
    }

    .ca-brand-and-name__name {
      @include ellipsis;
    }

    &--product {
      margin: 0 0 $px4;

      @include bp(tablet-down) {
        margin: 0;

        &:not(:first-child) {
          margin: rem-calc(6px) 0 0;
        }
      }
    }

    &--tag {
      &:not(:last-child) {
        margin: 0 rem-calc(3) $px8 0;
      }
    }
  }

  &__link {
    &--product {
      display: flex;
      align-items: flex-start;
    }

    &--tag {
      @include ellipsis;

      background-color: $c-light-pink;
      padding: rem-calc(6px) rem-calc(10px);
      display: inline-block;
      width: auto;
      max-width: 100%;
    }
  }

  &__image {
    width: rem-calc(40px);
    max-width: rem-calc(40px);
    margin: 0 $px12 0 0;

    @include bp(laptop) {
      width: auto;
      height: rem-calc(60px);
      flex-grow: 1;

      .ca-image__img {
        width: auto;
        height: 100%;
      }
    }
  }

  &__info {
    width: calc(100% - #{rem-calc(52px)});
    font-size: $font-size-xs;
  }

  &__item-name {
    @include ellipsis;
  }

  &__price {
    @include ellipsis;

    font-size: 0.8em;
  }
}